* {
	text-decoration: none;
}

body {
	font-size: small;
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
}

center {
	display: block;
	text-align: -webkit-center;
}

div {
	display: block;
}

form {
	display: block;
	margin-top: 0em;
}

span {
	color: #ff0000;
}

a {
	color: #la0dab;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#main {
	display: block;
	margin-top: 150px;
	margin-bottom: 100px;
	background: #fff
}

#logo {
	height: 95px;
	width: 270px;
	margin-bottom: 10px;
}

#bar {
	text-align: center;

}

.searchform {
	border: none;
	outline: none;
	box-shadow: none;
	position: relative;
	right: 10px;
	width: 93%;
}

input, #searchbar {
	display: inline-block;
	position: relative;
	margin-top: 0px;
	height: 35px;
	width: 90%;
	border-style: solid;
	border-width: 1px;
	border-color: #BEBEBE #DBDBDB #DBDBDB #BEBEBE;
	box-shadow: 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#microphone {
	margin: 5px 5px 5px auto;
	height: 28px;
	position: relative;
	display: block;
	top: -36px;
}

#buttons {
	text-align: center;
	margin-top: 20px;
}

#knowit:hover, #lucky:hover {
	color: #222;
	border: 1px solid #f2f2f2;
	box-shadow: 1px 1px 5px #c5c5c5; 
}

#promo {
	margin: 20px 30px;
}

.button {
	margin: 5px 8px;
	padding: 0 15px;
	height: 35px;
	width: 140px;
	font-size: 150x;
	color: #757575;
	font-weight: bold;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
}

/* Navigation Bars */
#header {
	color: black;
	top: 0px;
	margin: 0;
	margin-bottom: 1px;
	position: relative;
	width: 100%;
}

#header a{
	color: black;
}

.leftheader {
	margin: 15px 0px 0px 15px;
	display: inline-block;

}

.leftheader a {
	padding-left: 10px;
	padding-right: 10px;
}
